/*! base START */

html {
	font-size: 16px;
}

body {
	background: grey;
}

// Bootstrap 3 reset
@import "../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/normalize";

// needed to fix ng-touch svg ".blur" bugs. SVG tags should be wrapped in spans if touch needed.
svg {
	pointer-events: none;
}

/*! base END */