/*! fonts START */

$GH:	$FONT_PATH + 'gloriahallelujah/';
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  // src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(http://themes.googleusercontent.com/static/fonts/gloriahallelujah/v5/CA1k7SlXcY5kvI81M_R28Y5mSNQmgKshuii2YddNQzE.woff) format('woff');
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), 
  		url($GH + "gloriahallelujah.woff") format('woff'),
        url($GH + "gloriahallelujah.ttf") format('truetype');
}

/*! fonts END */