
$experimental-support-for-webkit: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-khtml: true;
$experimental-support-for-opera: true;


/**
 * Break points taken from Bootstrap 3
 */
$screen-xs:		480px !default;
$screen-sm:    	768px !default;
$screen-md:     992px !default;
$screen-lg:     1200px !default;
$screen-xs-portrait-max: ($screen-xs - 1px) !default;
// $screen-xs-max: ($screen-sm - 1) !default;
// $screen-sm-max: ($screen-md - 1) !default;
// $screen-md-max: ($screen-lg - 1) !default;


$appW: 960px;

$bgW: 709px;
$bgH: 659px;

$pgMargY: 50px;
$portraitMargY: round( $pgMargY / 2 );
$pgMargX: 60px;

$gflip-padtop: 50px;

$portraitScaleX: $screen-xs-portrait-max / $bgW;
// $portraitScaleX: 0.7;
$portraitW: round( $bgW * $portraitScaleX );
$portraitXDif: round( ($bgW - $portraitW)/2 );


// colours
$green-light-1: #82C350;
$green-dark-1: #467F1A;
$yellow-dark-1: #9F9110;
$yellow-light-1: #FAEF8E;
$blue-dark-1: #38517A;
$blue-light-1: #618AD0;
$red-dark-1: #9F2110;
$red-light-1: #FA9A8E;

$FONT_PATH: "/_instance/_dist/fonts/";
$IMG_PATH: "/_instance/_dist/img/";