
/*
Uses Animate.sass for Compass 1.2.x. When 1.3.x is released it will not be needed.

Installation
1. `gem install animate-sass`
2. Add `require 'animate-sass'` in Compass's `config.rb` file - for this project located in grunt_tasks/sass/config.rb
3. Then `@import animate.sass` (all animations)
*/

@import 'compass/css3/transition';

// @import "animate/css3/transform";
@import "animate/css3/animation/animation-name";
@import "animate/css3/animation/animation-duration";
@import "animate/css3/animation/animation-timing-function";
@import "animate/css3/animation/animation-iteration-count";
@import "animate/css3/animation/animation-direction";
// @import "animate/css3/animation/animation-play-state";
@import "animate/css3/animation/animation-delay";
// @import "animate/css3/animation/animation-fill-mode";


@import "animate/animations/fading-entrances";
@import "animate/animations/fading-exits";


.gflipintro-tokens-ani {
	@include animation-duration(1s);
	@include transform-origin( 140px, 59px );
	@include animation-timing-function( ease-in-out );
	@include animation-direction( reverse );
	@include animation-delay( 0.2s );
}

.gflipintro-token {
	@include animation-duration(1.2s);
	opacity: 1;
}

.gflipintro-btn1 {
	@include animation-duration(3s);
	@include animation-timing-function( ease-in-out );
	@include animation-iteration-count( 3 );
}


/** 
 * For the intro panel TOKEN animations.
 * Couldn't animate ngShow when nested inside another animated ngShow, so created custom 'nested-show'.
 * This feels like a bug in Angular, so maybe look for a bug fix in future version.
 */
.gflipintro-panel {
	@include animation-duration( 1s );
	
	// on exit
	&.nested-hide {
		@include animation-name( bg-twirl-fade );
		@include animation-direction( normal );
		@include animation-delay( 0.4s);

		.gflipintro-tokens-ani {
			@include animation-name( bounce-zoom );
			@include animation-direction( normal );
		}

		.gflipintro-token {
			@include animation-name( twirl-fade );
			@include animation-direction( normal );
		}
	}

	// on entry
	&.nested-show {
		@include animation-name( bg-twirl-fade );
		@include animation-direction( reverse );

		.gflipintro-tokens-ani {
			@include animation-name( bounce-zoom );
			@include animation-direction( reverse );
		}

		.gflipintro-token {
			@include animation-name( twirl-fade );
			@include animation-direction( reverse );
		}
	}
}


// for the bg overlay fade. Uses ng-show.
.gflipintro-bg {
	@include animation-duration( 1s );

	// needs this so that display: none isn't set while animating
	&.ng-hide-add, &.ng-hide-remove {
		display: block !important;
	}

	&.ng-hide-add-active {
		@include animation-name( fadeOut );
	}

	&.ng-hide-remove-active {
		@include animation-duration( 0.5s );
		@include animation-name( fadeIn );
	}
}


.is-twirling {
	@include animation-name( delayed-twirl );
}



// animations

@mixin twirl-fade( $do-fade: true, $fromRot: 0deg, $toRot: 360deg ) {
	0% {
		@if( $do-fade ) {
			opacity: 1;
		}
		@include transform( rotateZ($fromRot) );
	}

	60% {
		@include transform( rotateZ($toRot) );
	}

	100% {
		@include transform( rotateZ($toRot) );
		@if( $do-fade ) {
			opacity: 0;
		}
	}
}


@mixin delayed-twirl {
	90% {
		@include transform( rotateZ(0deg) );
	}

	100% {
		@include transform( rotateZ(360deg) );
	}
}


@if $experimental-support-for-webkit {
  @-webkit-keyframes twirl-fade { @include twirl-fade; }
  @-webkit-keyframes bg-twirl-fade { @include twirl-fade(true, -7deg, 90deg); }
  @-webkit-keyframes delayed-twirl { @include delayed-twirl; }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes twirl-fade { @include twirl-fade; }
  @-khtml-keyframes bg-twirl-fade { @include twirl-fade(true, -7deg, 90deg); }
  @-khtml-keyframes delayed-twirl { @include delayed-twirl; }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes twirl-fade { @include twirl-fade; }
  @-moz-keyframes bg-twirl-fade { @include twirl-fade(true, -7deg, 90deg); }
  @-moz-keyframes delayed-twirl { @include delayed-twirl; }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes twirl-fade { @include twirl-fade; }
  @-ms-keyframes bg-twirl-fade { @include twirl-fade(true, -7deg, 90deg); }
  @-ms-keyframes delayed-twirl { @include delayed-twirl; }
}
@if $experimental-support-for-opera {
  @-o-keyframes twirl-fade { @include twirl-fade; }
  @-o-keyframes bg-twirl-fade { @include twirl-fade(true, -7deg, 90deg); }
  @-o-keyframes delayed-twirl { @include delayed-twirl; }
}
@keyframes twirl-fade { @include twirl-fade; }
@keyframes bg-twirl-fade { @include twirl-fade(true, -7deg, 90deg); }
@keyframes delayed-twirl { @include delayed-twirl; }
