
/*
Uses Animate.sass for Compass 1.2.x. When 1.3.x is released it will not be needed.

Installation
1. `gem install animate-sass`
2. Add `require 'animate-sass'` in Compass's `config.rb` file - for this project located in grunt_tasks/sass/config.rb
3. Then `@import animate.sass` (all animations)
*/

@import 'compass/css3/transition';

// @import "animate/css3/transform";
@import "animate/css3/animation/animation-name";
@import "animate/css3/animation/animation-duration";
@import "animate/css3/animation/animation-timing-function";
@import "animate/css3/animation/animation-iteration-count";
@import "animate/css3/animation/animation-direction";
// @import "animate/css3/animation/animation-play-state";
@import "animate/css3/animation/animation-delay";
// @import "animate/css3/animation/animation-fill-mode";



// rays

.ray-open-ani {
	@include animation-duration(1.5s);
	@include animation-timing-function( ease-in-out );
}
 
.ray-is-opening {
	@include animation-name(ray-hide);
}

.arm-raising-ani {
	.ani {
		@include animation-duration(2s);
		@include animation-timing-function( ease-in-out );
		@include transform-origin( 0, 50px);
	}
}

.arm-is-raising {
	.ani {
		@include animation-name(arm-raise);
	}
}

.arm-raising-hidepth {
	z-index: 21;
}

.gflip-token {
	@include transition-delay(0.5s);
	@include transition-duration(1s);
	@include transition-timing-function( ease-in );
	@include transition-property( transform(translateX), transform(translateY), transform(translateZ) );
	// transition-property: all!important;
	
	// for wandering
	.inner {
		@include animation-duration(5s);
		@include animation-timing-function( linear );
		// @include animation-iteration-count(infinite);
		@include animation-iteration-count(1);
	}

	.token-is-found & {
		.inner {
			@include animation-delay(0.75s);
			@include animation-duration(1.5s);
			@include animation-timing-function( ease-out );
			@include animation-iteration-count(1);
		}
	}
}


@for $i from 0 through ($rayLen + 1) {
	
	.token-is-found {
		z-index: 40; // must be higher than face
		@include transition-delay(0.5s); // delayed until the ray is open
	}

	.token-is-found-slot#{$i} {
		
		// @include transform-origin( 0px, 400px );
		@include tokenpos($i, false);

		.inner {
			@include animation-name( bounce-zoom );
		}
	}

}

.token-is-wandering-long {
	.inner {
		@include animation-name( wandering-long );
	}
}
.token-is-wandering-med {
	.inner {
		@include animation-name( wandering-med );
	}
}
.token-is-wandering-short {
	.inner {
		@include animation-name( wandering-short );
	}
}


// animations


@mixin ray-hide {
	0% {
		@include transform( translateY(0) );
	}

	35% {
		@include transform( translateY($rayH - 10px) );
	}

	// pause

	65% {
		@include transform( translateY($rayH - 10px) );
	}

	100% {
		@include transform( translateY(0) );
	}
}


@mixin arm-raise {
	0% {
		@include transform( translateY(0) translateZ(0) );
	}

	35% {
		@include transform( rotateY(-40deg) rotateZ(-15deg) );
	}

	// pause

	65% {
		@include transform( rotateY(-40deg) rotateZ(-15deg) );
	}

	100% {
		@include transform( translateY(0) translateZ(0) );
	}
}

@mixin wandering-long {
	0% {
		
		@include transform( translateY(0) translateX(0) rotateZ(0deg) );
	}

	20% {
		
		@include transform( translateY(-20px) translateX(0px) rotateZ(-10deg) );
	}

	40% {
		
		@include transform( translateY(-20px) translateX(-25px) rotateZ(-20deg) );
	}

	60% {
		
		@include transform( translateY(-25px) translateX(-35px) rotateZ(-30deg) );
	}

	80% {
		
		@include transform( translateY(-15px) translateX(-40px) rotateZ(-50deg) );
	}

	100% {
		
		@include transform( translateY(0) translateX(0) rotateZ(0deg) );
	}
}

@mixin wandering-short($yMult: 1) {
	0% {
		
		@include transform( translateY(0) translateX(0) rotateZ(0deg) );
	}

	40% {
		
		@include transform( translateY(20px * $yMult) translateX(-10px) rotateZ(-10deg) );
	}

	60% {
		
		@include transform( translateY(15px * $yMult) translateX(-20px) rotateZ(-20deg) );
	}

	100% {
		
		@include transform( translateY(0) translateX(0) rotateZ(0deg) );
	}
}


@if $experimental-support-for-webkit {
  @-webkit-keyframes arm-raise { @include arm-raise; }
  @-webkit-keyframes ray-hide { @include ray-hide; }
  @-webkit-keyframes wandering-long { @include wandering-long; }
  @-webkit-keyframes wandering-med { @include wandering-short(-1); }
  @-webkit-keyframes wandering-short { @include wandering-short(); }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes arm-raise { @include arm-raise; }
  @-khtml-keyframes ray-hide { @include ray-hide; }
  @-khtml-keyframes wandering-long { @include wandering-long; }
  @-khtml-keyframes wandering-med { @include wandering-short(-1); }
  @-khtml-keyframes wandering-short { @include wandering-short(); }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes arm-raise { @include arm-raise; }
  @-moz-keyframes ray-hide { @include ray-hide; }
  @-moz-keyframes wandering-long { @include wandering-long; }
  @-moz-keyframes wandering-med { @include wandering-short(-1); }
  @-moz-keyframes wandering-short { @include wandering-short(); }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes arm-raise { @include arm-raise; }
  @-ms-keyframes ray-hide { @include ray-hide; }
  @-ms-keyframes wandering-long { @include wandering-long; }
  @-ms-keyframes wandering-med { @include wandering-short(-1) }
  @-ms-keyframes wandering-short { @include wandering-short() }
}
@if $experimental-support-for-opera {
  @-o-keyframes arm-raise { @include arm-raise; }
  @-o-keyframes ray-hide { @include ray-hide; }
  @-o-keyframes wandering-long { @include wandering-long; }
  @-o-keyframes wandering-med { @include wandering-short(-1); }
  @-o-keyframes wandering-short { @include wandering-short(); }
}
@keyframes arm-raise { @include arm-raise; }
@keyframes ray-hide { @include ray-hide; }
@keyframes wandering-long { @include wandering-long; }
@keyframes wandering-med { @include wandering-short(-1); }
@keyframes wandering-long { @include wandering-short(); }
