
.gflip {
	font-family: arial, sans-serif;
}

.gflip-heading {
	font-family: "Gloria Hallelujah";
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10; // below game
	pointer-events: none;
}

.gflip-heading1 {
	font-size: 3em;
}

.gflip-heading2 {
	font-size: 1.4em;
}

.gflip-heading3 {
	font-size: 1.4em;
}


.portrait-hide {
	display: none;

	@media screen and (min-width: $screen-xs) {
		display: initial;
	}
}

.landscape-hide {
	display: initial;

	@media screen and (min-width: $screen-xs) {
		display: none;
	}
}