

@mixin tokenpos($i, $is-spots: false) {

	// @include transform-origin( 25px 412px );

	$tx: 375px;
	$ty: -125px;
	$adj: 8;

	@if( $is-spots == false ) {
		$ty: -140px;
		$adj: 7.65;

		// mushroom red
		@if( $i == 10 ) {
			$tx: 380px;
			$ty: -140px;
		}

		// chicken
		@if( $i == 11 ) {
			$tx: 380px;
			$ty: -140px;
		}
	}
	
	$rot: #{-45 + ($i * $adj) - $portraitRayRot + $portraitTokenRot };

	@include transform( translateX($tx) translateY($ty) rotateZ($rot + deg) !important );
	
	@if( $is-spots == true ) {
		@include transform-origin( 0px, 400px );
	} @else {
		@include transform-origin( 28px, 399px );
	}
	
	@media screen and (min-width: $screen-xs) {
		$tx: 354px;
		$ty: -31px;
		$rot: #{-55+($i*10)};

		@include transform( translateX($tx) translateY($ty) rotateZ($rot + deg) !important );
		
		@if( $is-spots == false ) {
			@include transform-origin( 0px, 400px );
		}
	}
}

@mixin tokenspot( $is-spots ) {

	@if( $is-spots ) {
		@include transform-origin(240px, 330px);
		@include transform( rotateZ($portraitRayRot + deg) translateX(-20px) translateY(10px) );
	} @else {
		@include transform-origin($portraitW/2, $bgH/2);
		@include transform( rotateZ($portraitRayRot + deg) );
	}

	@media screen and (min-width: $screen-xs) {
		@include transform-origin(center, center);
		@include transform( rotateZ(0deg) );
	}
}