
$rayLen: 10;

$faceW: 220px;
$faceH: 204px;

$handW: 202px;
$handH: 72px;
$handTop: round( ($bgH/2) - ($handH/2) - 10px );

// $rayH: 98px;
$rayH: 90px;
$rayW: 65px;

$degIncr: round( 360deg / $rayLen );

$portraitTokenRot: -90;
$portraitRayRot: 18;
$portraitArmRot: 90 + $portraitRayRot;
$portraitArmOriginX: 330;