
<div class="gflipintro" >
	<!-- 'do-animate' class must be added to any animations you want in this module -->
	<section >
		<span class="gflipintro-bg transformable l-gflipintro-fillscreen do-animate" ng-show="Mdl.paused" ></span>
		
		<span class="l-gflipintro-centreoutter">
			<span 	class="l-gflipintro-centreinner l-gflipintro-posoffset transformable gflipintro-panel" 
					ng-class="{ 'nested-show': Mdl.showIntroPanel && Mdl.isActive, 
								'nested-hide': !Mdl.showIntroPanel || !Mdl.isActive }"
					ng-show="panelShow"
					>
					<!-- ng-show="Mdl.showIntroPanel && Mdl.isActive" -->

				<h1 class="gflipintro-heading heading2 heading" ng-bind-html="mainMsg" ></h1>

				<p 	ng-if="Mdl.isCounting" 
					class="gflipintro-countdown heading" 
					ng-bind-html="countDownMsg"
					ng-class="ngClsCountDownMsg" ></p>

				<button class="gflipintro-btn1 btngo btnnormalize" 
						ng-show="Mdl.paused && Mdl.isActive && !Mdl.isCounting" 
						hm-tap="btn1Clicked()" 
						hm-tap-opts="Mdl.hmTapBtnOpts"
						ng-class="ngClsBtn1" >
					<span class="btngo-inner ani" ng-bind-html="playBtnMsg"></span>
				</button>


				<button class="gflipintro-btn2 btngo btnsml btnnormalize l-gflipintro-btnreset" 
						ng-show="showBtn2" 
						hm-tap="btn2Clicked()"
						hm-tap-opts="Mdl.hmTapBtnOpts" >
					<span class="btngo-inner ani" >Reset?</span>
				</button>

				<div class="l-gflipintro-tokens gflipintro-tokens-ani">
					
					<span class="gflipintro-mushroomred transformable">
						<span class="transformable gflipintro-token" >
							<svg >
								<use style="fill:#C9282E" xlink:href="#core-mushroom"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-chicken transformable">
						<span class="transformable gflipintro-token" >
							<svg >
							  <use xlink:href="#core-chicken"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-ladybird transformable">
						<span class="transformable gflipintro-token" >
							<svg >
							  <use xlink:href="#core-ladybird"></use>
							</svg>
						</span>
					</span>


					<span class="gflipintro-parsnip transformable">
						<span class="transformable gflipintro-token" >
							<svg>
							  <use style="fill:#fff" stroke="#ccc" xlink:href="#core-carrot"></use>
							</svg>
						</span>
					</span>


					<span class="gflipintro-fishright transformable">
						<span class="transformable gflipintro-token" >
							<svg>
							  <use style="fill:#38517A" xlink:href="#core-fish"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-pear transformable">
						<span class="transformable gflipintro-token" >
							<svg >
								<use xlink:href="#core-pear"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-moon transformable">
						<span class="transformable gflipintro-token" >
							<svg>
							  <use xlink:href="#core-moon"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-mushroomblue transformable">
						<span class="transformable gflipintro-token" >
							<svg>
								<use style="fill:#1D3679" xlink:href="#core-mushroom"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-carrot transformable">
						<span class="transformable gflipintro-token" >						
							<svg >
							  <use style="fill:#E78A2D" xlink:href="#core-carrot"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-bug transformable">
						<span class="transformable gflipintro-token" >
							<svg >
							  <use xlink:href="#core-bug"></use>
							</svg>
						</span>
					</span>

					<span class="gflipintro-fishleft transformable">
						<span class="transformable gflipintro-token" >
							<svg >
							  <use style="fill:#E87B36" xlink:href="#core-fish"></use>
							</svg>
						</span>
					</span>
					
					<span class="gflipintro-apple transformable">
				        <span class="transformable gflipintro-token" >
					        <svg >
							  <use xlink:href="#core-apple"></use>
							</svg>
				        </span>
				    </span>

				</div><!-- .l-gflipintro-tokens -->

			</span><!-- .l-gflipintro-centreinner -->
		</span>

	</section>
</div>