<div class="gflip l-gflip-constrained" ng-class="{'gflip-completed': Mdl.found === TokenMap.length, 'bgfallback': Mdl.bgfallback}" >
    <section>

    
    	<h1 class="gflip-mainheading gflip-heading1 gflip-heading">
    		<span ng-bind-html="heading1Text" class="line1">Find the</span>
    		<span ng-bind-html="heading2Text" class="line2">Secret Tokens</span>
    	</h1>

	    <div class="gflip-heading2-container">
	    	<h2 class="gflip-heading2 gflip-heading transformable">Find the <span class="portrait-hide">Sunshine</span> Secrets!!!</h2>
	    </div>
	    
	    <div class="gflip-score">
	    	<h3 ng-if="Mdl.found === TokenMap.length" class="gflip-heading3 gflip-heading">You've found <br> all the <span class="portrait-hide">Sunshine </span>Secrets!!!</h3>
	    	<h3 ng-if="Mdl.found < TokenMap.length" class="gflip-heading3 gflip-heading">Secrets found <br>{{ Mdl.found }} / {{ TokenMap.length }}</h3>
	    </div>

    	<div class="l-gflip-masked gflip-sun">
	    	
    		<div class="gflip-tokenspot-container transformable">
				<span ng-repeat="tkn in TokenMap" class="gflip-tokenspot transformable" ng-class="'gflip-tokenspot' + $index" ></span>
    		</div>

	    	<svg class="transformable gflip-bg">
			  <use xlink:href="#gflip-bg"></use>
			</svg>

			
			<span class="portrait-hide">
				<svg class="transformable gflip-butterfly">
				  <use xlink:href="#core-butterfly"></use>
				</svg>

				<svg class="transformable gflip-tree">
				  <use xlink:href="#core-tree"></use>
				</svg>

				<svg class="transformable gflip-caterpillar">
				  <use xlink:href="#core-caterpillar"></use>
				</svg>

				<svg class="transformable gflip-leaf">
				  <use xlink:href="#core-leaf"></use>
				</svg>

				<svg class="transformable gflip-flower">
				  <use xlink:href="#core-flower"></use>
				</svg>
			</span>


			<!-- Couldn't use this approach because 'xlink:href' doesn't get parsed. Need to look for a fix!
			<span ng-repeat="item in Mdl.rayItems">
				<svg class="transformable gflip-rayitem" ng-class="'gflip-' + item.cls" >
					<use fill="{{item.fill}}" stroke="{{item.stroke}}" xlink:href="#core-{{item.id}}"></use>
				</svg>
			</span>
			-->

			<!-- <span class="transformable gflip-hands"> -->

			


			<!-- </span> -->

			<!-- rays. Needed to use a span element as the hit because ngTouch and svgs throw blur error. -->
			<span class="transformable gflip-rays">

			    <span class="gflip-depthmod" ng-attr-data-id="{{ngIdMushroomRed}}" ng-class="ngClsMushroomRedOutter">
					<span class="transformable gflip-token" ng-class="ngClsMushroomRed">
						<span class="custom">
							<svg class="inner">
								<use style="fill:#C9282E" xlink:href="#core-mushroom"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdChicken}}" ng-class="ngClsChickenOutter">
					<span class="transformable gflip-token" ng-class="ngClsChicken">
						<svg class="inner">
						  <use xlink:href="#core-chicken"></use>
						</svg>
					</span>
				</span>
				
				<!-- Put the face in the rays span so they are on the same 3d plane and so depths can be adjested. -->
				<span 	class="transformable gflip-hand gflip-hand-right arm-raising-ani" 
						ng-class="[rightArmAni, rightArmAniDepth]">
					<span class="ani">
						<span 	class="gflip-hand-hitarea" 
								hm-tap="handClick('right')" 
								hm-tap-opts="Mdl.hmTapHandOpts" ></span>
						<svg>
						  <use xlink:href="#gflip-hand"></use>
						</svg>
					</span>
				</span>

				<span 	class="transformable gflip-hand gflip-hand-left arm-raising-ani" 
						ng-class="[leftArmAni, leftArmAniDepth]" >
					<span class="ani">
						<span 	class="gflip-hand-hitarea" 
								hm-tap="handClick('left')" 
								hm-tap-opts="Mdl.hmTapHandOpts" ></span>
						<svg>
					  		<use xlink:href="#gflip-hand"></use>
					  	</svg>
					</span>
				</span>

				<!-- START tokens -->
				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdLadyBird}}" ng-class="ngClsLadyBirdOutter">
					<span class="transformable gflip-token" ng-class="ngClsLadyBird">
						<svg class="inner">
						  <use xlink:href="#core-ladybird"></use>
						</svg>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdParsnip}}" ng-class="ngClsParsnipOutter">
					<span class="transformable gflip-token" ng-class="ngClsParsnip">
						<span class="custom">
							<svg class="inner">
							  <use style="fill:#fff" stroke="#ccc" xlink:href="#core-carrot"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdFishRight}}" ng-class="ngClsFishRightOutter">
					<span class="transformable gflip-token" ng-class="ngClsFishRight">
						<span class="custom">
							<svg class="inner">
							  <use style="fill:#38517A" xlink:href="#core-fish"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdPear}}" ng-class="ngClsPearOutter">
					<span class="transformable gflip-token" ng-class="ngClsPear">
						<span class="custom">
							<svg class="inner">
								<use xlink:href="#core-pear"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdMoon}}" ng-class="ngClsMoonOutter">
					<span class="transformable gflip-token" ng-class="ngClsMoon">
						<span class="custom">
							<svg class="inner">
							  <use xlink:href="#core-moon"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdMushroomBlue}}" ng-class="ngClsMushroomBlueOutter">
					<span class="transformable gflip-token" ng-class="ngClsMushroomBlue">
						<span class="custom">
							<svg class="inner">
								<use style="fill:#1D3679" xlink:href="#core-mushroom"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdCarrot}}" ng-class="ngClsCarrotOutter">
					<span class="transformable gflip-token" ng-class="ngClsCarrot">						
						<svg class="inner">
						  <use style="fill:#E78A2D" xlink:href="#core-carrot"></use>
						</svg>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdBug}}" ng-class="ngClsBugOutter">
					<span class="transformable gflip-token" ng-class="ngClsBug">
						<span class="custom">
							<svg class="inner">
							  <use xlink:href="#core-bug"></use>
							</svg>
						</span>
					</span>
				</span>

				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdFishLeft}}" ng-class="ngClsFishLeftOutter">
					<span class="transformable gflip-token" ng-class="ngClsFishLeft">
						<span class="custom">
							<svg class="inner">
							  <use style="fill:#E87B36" xlink:href="#core-fish"></use>
							</svg>
						</span>
					</span>
				</span>
				
				<span class="gflip-depthmod" ng-attr-data-id="{{ngIdApple}}" ng-class="ngClsAppleOutter">
			        <span class="transformable gflip-token" ng-class="ngClsApple">
			        	<span class="custom">
					        <svg class="inner">
							  <use xlink:href="#core-apple"></use>
							</svg>
			        	</span>
			        </span>
			    </span>
				<!-- END tokens -->


				<span 	class="transformable" 
						ng-repeat="n in _.range(0,10)" 
						ng-class="'gflip-raynth' + $index"
						ng-class-even="'gflip-ray2'" 
						ng-class-odd="'gflip-ray1'"
						>
					<span 	class="gflip-ray-hitarea" 
							hm-tap="rayClick( $index )" 
							hm-tap-opts="Mdl.hmTapRayOpts" ></span>
					<svg class="core-svgani ray-open-ani" ng-class="rayAni{{$index}}"  >
					  <use fill="{{ $even ? '#F7E335' : '#E78A2D' }}" xlink:href="#gflip-sunray"></use>
					</svg>
				</span>

				<!-- Put the face in the rays span so they are on the same 3d plane and so depths can be adjested. -->
				<svg class="gflip-face">
				  <use xlink:href="#gflip-sunface"></use>
				</svg>

			</span>
			
    	</div><!-- end gflip-sun -->

    	<div gflip-intro mdl="Mdl" ></div>

    </section>
</div>