/*! modules common START */

.svg-instance {
	display: block;
	width: 200px;
	height: 200px;
}

.scrollable-y {
	display: block;
	// overflow-y: scroll;
	overflow-x: hidden;
}

.browsehappy {
	position: absolute;
}

.svgdefs {
	display: none;
}

.transformable {
	position: absolute;
	display: block;
}
.ani {
	display: block;
}
/*! modules common END */