/*! modules text START */

@import "compass/css3/text-shadow";

.heading {
	padding: 0;
	margin: 0;
	font-family: "Gloria Hallelujah";
	line-height: 130%;
	@include text-shadow( 1px 1px 1px #fff );
}

.heading1 {
	font-size: 2.2em;
}

.heading2 {
	font-size: 1.65em;
}

.heading3 {
	font-size: 1.4em;
}

.heading4 {
	font-size: 1.1em;
}

.pg-body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 0.9em;
	line-height: 140%;
}

/*! modules text END */