// START layout intro

.l-gflipintro-fillscreen {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
}


.l-gflipintro-centreoutter {
	top: 50%;
	left: 50%;
	position: absolute;
	display: block;

	width: 300px;
	height: 200px;
}

.l-gflipintro-centreinner {
	top: -50%;
	left: -50%;
	position: absolute;
	display: block;

	width: 100%;
	height: 100%;
}

.l-gflipintro-posoffset {
	@include transform( rotateZ(-7deg) );
}

.l-gflipintro-tokens {
	top: 55px;
	left: 15px;
	position: absolute;
}

.l-gflipintro-btnresume {
	position: absolute;
	top: 72px;
	left: 109px;
}

.l-gflipintro-btnplay {
	position: absolute;
	top: 47px;
	left: 112px;
}

.l-gflipintro-btnreplay {
	position: absolute;
	top: 90px;
	left: 104px;
}

.l-gflipintro-btnreset {
	position: absolute;
	top: 117px;
	left: 113px;
}

// END layout intro