// START layout main

@import "compass/css3/transform";

.l-gflip-constrained {
	margin: 0 auto;
	height: $bgH;
	width: $portraitW;
	position: relative;

	@media screen and (min-width: $screen-xs) {
		width: $bgW;
		height: $bgH + $gflip-padtop;
	}
}

/**
 * Masks out any overflowing elements due to transforms. 
 * For example, rotationZ causes corners of large elements to spill outside the container.
 * Will fill the parent, so best to have a parent with position: relative.
 */
.l-gflip-masked {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

// END layout main