
@import "compass/css3/border-radius";
@import "compass/css3/transform";

.gflipintro-bg {	
	background: rgba( 255, 255, 255, 0.8 );
}

.gflipintro-token {
	.custom {
		display: block;

		// fixes IE & FF odd heights on tokens
		width: inherit;
		height: inherit;
	}
}

.gflipintro-btn2,
.gflipintro-btn1 {
	.btngo-inner {
		background-color: $red-light-1;
		border-color: $red-dark-1;
		@include transform( rotateZ(-15deg) );
	}
}

.gflipintro-heading {
	margin-top: 10px;
	text-align: center;
	color: $blue-dark-1;
}

.gflipintro-countdown {
	margin-top: 10px;
	text-align: center;
	font-size: 6.5em;
	color: $blue-dark-1;

	&.go-title {
		// margin-top: 30px;
		// font-size: 4em;
	}
}

.gflipintro-panel {

	@include border-radius(15px);
	$bordW: 8px;
	border-width: $bordW;
	border-style: solid;
	border-color: $blue-dark-1;
	background: $blue-light-1;
	margin: ($bordW / 2);
	width: 100%;
	height: 100%;
	z-index: 20;
}

// sass list: name, width, height
$token-list: 	apple 31px 25px 
				,carrot 36px 39px
				,pear 27px 35px
				,moon 34px 37px
				,parsnip 36px 39px
				,ladybird 29px 36px
				,chicken 39px 42px
				,mushroomblue 24px 29px
				,fishleft 60px 40px
				,bug 26px 24px
				,fishright 60px 40px
				,mushroomred 24px 29px;

$x: 0px;
$y: 0px;
$gutterX: 10px;
$gutterY: 50px;
$horizIncr: 0;
@each $item in $token-list {
	$i: index($token-list, $item);
	.gflipintro-#{ nth($item, 1) } {
		
		// Some $x adjustments
		@if( nth($item, 1) == moon ) { 			$x: $x + 10 }
		@if( nth($item, 1) == ladybird ) { 		$x: $x + 5 }
		@if( nth($item, 1) == chicken ) { 		$x: $x + 8 }
		@if( nth($item, 1) == mushroomblue ) { 	$x: $x + 3 }
		
		left: $x;
		top: $y;
		
		// Some $y adjustments
		@if( nth($item, 1) == fishleft ) { 		top: $y - 5; }
		@if( nth($item, 1) == fishright ) { 	top: $y - 5; }
		@if( nth($item, 1) == bug ) { 			top: $y + 5; }
		@if( nth($item, 1) == mushroomred ) { 	top: $y + 5; }
		@if( nth($item, 1) == mushroomblue ) { 	top: $y + 3; }

		$horizIncr: $horizIncr + 1;
		@if( $horizIncr == 2 ) {
			$x: 140px;
		}

		// increment by prev item width
		$x: $x + nth($item, 2) + $gutterX;

		// new row
		@if( ($i % 4) == 0 ) {
			$x: 0px;
			$y: $y + $gutterY;
			$horizIncr: 0;
		}

		.gflipintro-token {
			width: nth($item, 2);
			height: nth($item, 3);
			
		}
	}
}