
@import "compass/css3/transform";

.bgfallback {
	background-image: url($IMG_PATH + "bgfallback.jpg");
	background-repeat: no-repeat;
	background-position: center round($pgMargY/2);
	background-color: $green-light-1;
}

.gflip-score {
	position: absolute;
	top: -2px;
	right: 0;
	width: 98px;
	height: 100px;
	overflow: hidden;

	.bgfallback & {
		display: none;
	}

	@media screen and (min-width: $screen-xs) {
		top: -1px;
		right: 28px;
		width: 170px;
	}
	
	.gflip-completed & {
		top: -3px;
		right: -3px;

		@media screen and (min-width: $screen-xs) {
			top: 0px;
		}
	}
	
	.gflip-heading {
		margin: 25px 0 0 10px;
		@include transform( rotateZ(25deg) );


		@media screen and (min-width: $screen-xs) {
			margin: 30px 0 0 10px;
		}

		.gflip-completed & {
			font-size: 0.95em;
			margin: 35px 0 0 10px;
			@include transform( rotateZ(30deg) );
			
			@media screen and (min-width: $screen-xs) {
				font-size: 1.1em;
				@include transform( rotateZ(25deg) );
			}
		}
	}
}

.gflip-mainheading {
	$w: 500px;
	text-align: center;
	position: absolute;
	margin: 25px 0 0 0;
	left: 50%;
	color: $green-dark-1;

	// stop it from creating scroll bars
	overflow: hidden;
	width: $portraitW / 2;
	height: 630px;

	.bgfallback & {
		display: none;
	}

	@media screen and (min-width: $screen-xs) {
		overflow: visible;
		width: auto;
		height: auto;
		margin: (25px + $gflip-padtop) 0 0 0;
	}

	.line1, .line2 {
		width: $w;
		display: block;
		position: absolute;
		// margin-left: -($w/2);
		margin-left: -15px;

		span {
			// font: 26px Monaco, MonoSpace;
			position: absolute;
			width: 20px;
			height: 0; // uses padding instead
			left: 0;
			top: 0;
		}
	}

	.line1 {
		// @include rotated-text(8, 45, -26deg);

		span {
			padding-bottom: ($bgW / 2) - 10; // controls the radius
			@include transform-origin(bottom, center);
		}

		$num-letters: 8;
		$angle-span: 45deg;
		$angle-offset: -30deg;
		$angle-per-char: $angle-span / $num-letters;
		$rot: $angle-offset + $angle-per-char;

		@for $i from 1 through $num-letters {
			$rot: $rot + $angle-per-char;

			@if($i == 1) { $rot: $rot - 1deg; } // f
			@if($i == 3) { $rot: $rot - 1deg; } // n
			@if($i == 4) { $rot: $rot + 1deg; } // d
			@if($i == 6) { $rot: $rot - 2deg; } // space
			@if($i == 7) { $rot: $rot + 1deg; } // h
			.ch#{$i} {
				@include transform( rotateZ($rot) );
			}
		}

		@include transform( translateX(90px) translateY(245px) rotateZ(50deg) );

		@media screen and (min-width: $screen-xs) {
			@include transform( translateX(0px) translateY(0px) rotateZ(0deg) );
		}
	}

	.line2 {
		top: 160px;
		font-size: 0.8em;

		// @include rotated-text(15, -55, 27deg);

		span {
			padding-top: ($bgW / 2) - 10; // controls the radius
			@include transform-origin(top, center);	
		}

		$num-letters: 15;
		$angle-span: -55deg;
		$angle-offset: 27deg;
		$angle-per-char: $angle-span / $num-letters;
		$rot: $angle-offset + $angle-per-char;

		@for $i from 1 through $num-letters {
			$rot: $rot + $angle-per-char;

			//@if($i == 4) { $rot: $rot - 0.3deg; } // i
			//@if($i == 5) { $rot: $rot + 2deg; } // l
			//@if($i == 6) { $rot: $rot + 1.2deg; } // y
			//@if($i == 7) { $rot: $rot + 2.2deg; } // space
			//@if($i == 11) { $rot: $rot + 2.2deg; } // space

			.ch#{$i} {
				@include transform( rotateZ($rot) );
			}
		}

		@include transform( translateX(-290px) translateY(-90px) rotateZ(-59deg) );

		@media screen and (min-width: $screen-xs) {
			@include transform( translateX(0px) translateY(0px) rotateZ(0deg) );
		}
	}
}


// wraps the rotated element in a squared container so it doesn't overflow
.gflip-heading2-container {
	width: 110px;
	height: 90px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 10px;

	.bgfallback & {
		display: none;
	}

	@media screen and (min-width: $screen-xs) {
		top: 5px;
		left: 5px;
		width: 170px;
		height: 120px;
	}
}

.gflip-heading2 {
	width: 130px;
	text-align: center;
	margin: 15px 0 0 -25px;
	@include transform( rotateZ(-35deg) );

	@media screen and (min-width: $screen-xs) {
		width: 200px;
		margin: 41px 0 0 -8px;
	}
}


.gflip-heading2, .gflip-heading3 {
	font-size: 1.1em;
	color: #fff;
	line-height: 130%;

	@media screen and (min-width: $screen-xs) {
		font-size: 1.3em;
	}
}