
@import 'compass/css3/transform';

.gflip-sun {
	padding-top: 0;

	.bgfallback & {
		display: none;
	}

	@media screen and (min-width: $screen-xs) {
		padding-top: $gflip-padtop;
	}
}

.gflip-bg {
	width: $bgW;
	height: $bgH;

	@include transform( translateX( -$portraitXDif ) scaleX($portraitScaleX) );

	@media screen and (min-width: $screen-xs) {
		@include transform( scaleX(1) );
	}
}


.gflip-face {
	width: $faceW;
	height: $faceH;
	z-index: 30;
	pointer-events: none;
	display: block;
	position: absolute;

	$ty: ($bgH/2) - ($faceH/2);
	$tx: ($portraitW/2) - ($faceW/2);

	// rotation is to counter the rotation of the rays
	@include transform( translateX($tx) translateY($ty) rotateZ(-$portraitRayRot + deg) );

	@media screen and (min-width: $screen-xs) {
		$tx: ($bgW/2) - ($faceW/2);
		@include transform( translateX($tx) translateY($ty) );
	}
}


.gflip-hand {
	width: $handW;
	height: $handH;
	@include transform-style( preserve-3d );
	z-index: 10;

	@include perspective( 650 ); // needed for vertical flip animation

	@media screen and (min-width: $screen-xs) {
		@include perspective( 400 );
	}
	// -webkit-clip-path: url(#clipTest);
	
	.ani {
		// needed for IE & FF strange heights appearing
		width: inherit;
		height: inherit;
	}
}

.gflip-hand-right {

	$left: $portraitArmOriginX + px;
	@include transform( translateX($left) translateY($handTop) rotateZ(-$portraitArmRot + deg) );

	@media screen and (min-width: $screen-xs) {
		$left: ($bgW/2) + ($faceW/2) - 20px;
		@include transform( translateX($left) translateY($handTop) );
	}
}


.gflip-hand-left {

	$left: -$portraitArmOriginX + px;
	@include transform( scaleX(-1) translateX($left) translateY($handTop) rotateZ($portraitArmRot + deg) );
	
	@media screen and (min-width: $screen-xs) {
		$left: -(($bgW/2) - $handW - ($faceW/2) + 20px);
		@include transform( scaleX(-1) translateX($left) translateY($handTop) );
	}
}

.gflip-hand-left, .gflip-hand-right {
	@include transform-origin(-85px, 50px);

	@media screen and (min-width: $screen-xs) {
		@include transform-origin(center, center);
	}
}

.gflip-rays {
	z-index: 20;
	@include transform-origin( 30px 395px );
	
	@include transform-origin($portraitW/2, $bgH/2);
	@include transform( rotateZ($portraitRayRot + deg) );

	@include tokenspot( false );
}

/* .gflip-hands {
	
	@media screen and (max-width: $portraitW) {
		@include transform-origin($portraitW/2, $bgH/2);
		@include transform( rotateZ($portraitArmRot + deg) );
	}
} */

.gflip-hand-hitarea {
	width: 55%;
	height: 100%;
	display: block;
	position: absolute;
	right: 0;
	z-index: 21;
}

.gflip-ray-hitarea {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 22;
}



// Rays

@mixin ray-pos($w, $h, $rot, $adjust: 0) {
	width: $w;
	height: $h;
	$w: $w - $adjust;
	$h: $h - $adjust;
	$ty: ($bgH/2) - ($h*2);

	$tx: ($portraitW/2) - ($w/2);
	@include transform( translateX($tx) translateY($ty) rotateZ($rot) );

	@media screen and (min-width: $screen-xs) {
		$tx: ($bgW/2) - ($w/2);
		@include transform( translateX($tx) translateY($ty) rotateZ($rot) );
	}
}

@mixin circle-trns-orgn($w, $h, $adjust: 0) {
	$w: $w - $adjust;
	$h: $h - $adjust;
	@include transform-origin(($w / 2), ($h * 2));
}

.gflip-ray1,
.gflip-ray2 {
	@include transform-style( preserve-3d );
	@include perspective( 400 );
	z-index: 10;
}

.gflip-ray1 {
	@include circle-trns-orgn($rayW, $rayH, -3px);
}

.gflip-ray2 {
	@include circle-trns-orgn($rayW, $rayH, 0px);
}


/**
 * rotateZ could've gone outside of odd/even $i if statement
 * but it needed to be in the same transform property.
 */
@for $i from 0 through ($rayLen - 1) {

	$rot: $degIncr * $i;
	.gflip-raynth#{$i} {
		@if( $i % 2 == 0 ) { // even
			@include ray-pos($rayW, $rayH, $rot, -3px);
		} @else { // odd
			@include ray-pos($rayW, $rayH, $rot, 0px);
		}
	}
}

