
@import 'compass/css3/transform';
@import 'compass/css3/border-radius';


@for $i from 0 through ($rayLen + 1) {
	
	.gflip-tokenspot#{$i} {
		@include tokenpos($i, true);
	}
}

.gflip-tokenspot-container {

	@include transform-origin($portraitW/2, $bgH/2);
	@include transform( rotateZ($portraitRayRot + deg) );

	@include tokenspot( true );

	z-index: 10;
	@media screen and (min-width: $screen-xs) {
		z-index: auto;
	}
}

.gflip-tokenspot {
	$rad: 30px;
	width: $rad;
	height: $rad;
	background-color: $green-light-1;
	border: 3px solid $green-dark-1;
	opacity: 0.5;
	@include transform-origin( 36px, 386px );
	@include border-radius(50%);

	@media screen and (min-width: $screen-xs) {
		@include transform-origin( 0px, 400px );
	}
}


.gflip-butterfly {
	width: 100px;
	height: 103px;
	@include transform( translateX(531px) translateY(397px) );
}

.gflip-caterpillar {
	width: 100px;
	height: 94px;
	@include transform( translateX(110px) translateY(100px) );
}

.gflip-leaf {
	width: 83px;
	height: 111px;
	@include transform( translateX(87px) translateY(94px) );
}

.gflip-flower {
	width: 95px;
	height: 82px;
	@include transform( translateX(474px) translateY(94px) );
}

.gflip-tree {
	width: 76px;
	height: 126px;
	@include transform( translateX(120px) translateY(410px) );
}


.gflip-depthmod {
	display: block;
	position: absolute;
}

.gflip-token {
	.custom {
		display: block;

		// fixes IE & FF odd heights on tokens
		width: inherit;
		height: inherit;
	}
}


// sass list: name, width, height, x, y, x (hand token), y (hand token) 
$token-list: 	apple 31px 25px 271px 218px 
				,carrot 36px 39px 253px 418px
				,parsnip 36px 39px 417px 209px
				,fishleft 60px 40px 198px 264px
				,fishright 60px 40px 454px 275px
				,ladybird 29px 36px 342px 189px
				,mushroomblue 24px 29px 339px 436px
				,pear 27px 35px 459px 349px
				,moon 34px 37px 411px 412px
				,bug 26px 24px 220px 354px
				,mushroomred 24px 29px 96px 310px (300px + $portraitXDif) 550px
				,chicken 39px 42px 589px 301px (135px + $portraitXDif) 74px;

@each $item in $token-list {
	$i: index($token-list, $item);
	.gflip-#{ nth($item, 1) } {
		.gflip-token {
			width: #{ nth($item, 2) };
			height: #{ nth($item, 3) };

			@if( $i < 11 ) {
				@include transform( translateX( #{ nth($item, 4) - $portraitXDif } ) translateY(#{ nth($item, 5) }) );
			} @else {
				@include transform( translateX( #{ nth($item, 6) - $portraitXDif } ) translateY(#{ nth($item, 7) }) );
			}

			@media screen and (min-width: $screen-xs) {
				@include transform( translateX( #{ nth($item, 4) } ) translateY(#{ nth($item, 5) }) );
			}
		}
	}
}

.gflip-apple {
	.custom {
		@include transform( translateX(3px) translateY(6px) scaleX(0.9) scaleY(0.9) );
	}
}

.gflip-pear {
	.custom {
		@include transform( translateX(3px) translateY(-3px) );
	}
}

.gflip-moon {
	.custom {
		@include transform( translateX(6px) translateY(-5px) );
	}
}


.gflip-bug {
	.custom {
		@include transform( translateX(5px) translateY(5px) );
	}
}

.gflip-parsnip {
	.custom {
		@include transform( translateX(3px) translateY(-5px) scaleX(1.2) scaleY(1.2) );
	}
}


.gflip-fishleft {
	.custom {
		@include transform( translateX(-13px) translateY(-3px) scaleX(0.8) scaleY(0.8) );
	}
}

.gflip-fishright {
	.custom {
		@include transform( translateX(-11px) translateY(-5px) scaleX(-0.85) scaleY(0.85) );
	}
}


.gflip-mushroomred {
	.custom {
		@include transform( translateX(5px) scaleX(1.5) scaleY(1.5) );
	}
}

.gflip-mushroomblue {
	.custom {
		@include transform( translateX(6px) translateY(2px) );
	}
}
